.container {
  width: 100%; /* Kontener na całą szerokość ekranu */
  max-width: 100%; /* Usuń ograniczenie maksymalnej szerokości */
  padding: 0 15px; /* Usuń wewnętrzne odstępy */
  margin: 0; /* Usuń zewnętrzne marginesy */
}

.row {
  display: flex; /* Ustaw wiersze jako flexbox */
  flex-wrap: nowrap; /* Pozwól na łamanie kolumn w dół */
  justify-content: space-between; /* Rozdziel kolumny równomiernie */
  gap: 20px; /* Dodaj odstępy między kolumnami */
}

.col-lg-4, .col-md-4 {
  flex: 1 1 25%; /* Każda kolumna zajmuje 25% szerokości */
  max-width: 25%; /* Maksymalna szerokość kolumny */
  box-sizing: border-box; /* Uwzględnij padding i margin w szerokości */
}

.bg-primary {
  width: 100%; /* Nagłówek na całą szerokość */
  text-align: center;
}

body {
  margin: 0; /* Usuń domyślne marginesy przeglądarki */
  padding: 0; /* Usuń domyślne odstępy */
}


.list-container {
  max-height: 700px;
  overflow-y: unset;
  padding: 15px 10px;
}

.list-group-item {
  background: linear-gradient(135deg, #e6f7ff, #b3d9ff);
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.list-group-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
